<div class="head padding-h-default border-bottom-default">
  <img class="logo pull-left" src="./imgs/default-avatar.png">
  <div>
    <div class="name">箭牌卫浴旗舰店</div>
    <div class="margin-top-5 font-size-12"><span class="font-color-content">普通用户</span></div>
  </div>
</div>
<section class="margin-top-10">
  <div class="padding-l-default  bg-lightest">
    <div class="padding-r-default padding-v-12 section-title ">
      <span class="font-color-title">入驻平台</span>
      <span><img class="arrow" src="./imgs/arrow-right2.png"></span>
    </div>
  </div>
</section>
<section class="margin-top-10">
  <div class="padding-l-default  bg-lightest">
    <div class="padding-r-default padding-v-12 section-title border-bottom-default">
      <span class="font-color-title">我的店铺</span>
      <span><img class="arrow" src="./imgs/arrow-right2.png"></span>
    </div>
    <div class="padding-l-default font-size-12">
      <div class="padding-r-default padding-v-12 section-title border-bottom-default">
        <span class="font-color-title">商品上新</span>
        <span><img class="arrow" src="./imgs/arrow-right2.png"></span>
      </div>
      <div class="padding-r-default padding-v-12 section-title">
        <span class="font-color-title">店铺管理</span>
        <span><img class="arrow" src="./imgs/arrow-right2.png"></span>
      </div>
    </div>
  </div>
</section>
<section class="margin-top-10">
  <div class="padding-l-default  bg-lightest">
    <div class="padding-r-default padding-v-12 section-title border-bottom-default">
      <span class="font-color-title">我的订单</span>
      <span><img class="arrow" src="./imgs/arrow-right2.png"></span>
    </div>
    <div class="padding-l-default font-size-12">
      <div class="padding-r-default padding-v-12 section-title border-bottom-default">
        <span class="font-color-title">待付款</span>
        <span><img class="arrow" src="./imgs/arrow-right2.png"></span>
      </div>
      <div class="padding-r-default padding-v-12 section-title border-bottom-default">
        <span class="font-color-title">待评价</span>
        <span><img class="arrow" src="./imgs/arrow-right2.png"></span>
      </div>
      <div class="padding-r-default padding-v-12 section-title ">
        <span class="font-color-title">售后服务</span>
        <span><img class="arrow" src="./imgs/arrow-right2.png"></span>
      </div>
    </div>
  </div>
</section>
<main-menu></main-menu>
