<div class="head padding-h-default border-bottom-default">
  <img class="logo pull-left" src="./imgs/default-avatar.png">
  <div class="user-info">
    <div class="name">{{user.name}}</div>
    <div class="margin-top-5 font-size-12"><span class="font-color-content">{{user.role}}</span><span class="font-color-link pull-right font-size-14" routerLink="/account" *ngIf="!isLogin">登录</span></div>
  </div>
</div>
<section class="margin-top-10" *ngIf="isLogin&&user.role!=='merchant'">
  <div class="padding-l-default  bg-lightest">
    <div class="padding-r-default padding-v-12 section-title " routerLink="./agreement">
      <span class="font-color-title">商家入驻</span>
      <span><img class="arrow" src="./imgs/arrow-right2.png"></span>
    </div>
  </div>
</section>
<section class="margin-top-10" *ngIf="user.role==='merchant'">
  <div class="padding-l-default  bg-lightest">
    <div class="padding-r-default padding-v-12 section-title border-bottom-default" routerLink="./my-store/{{storeInfo.store_code}}">
      <span class="font-color-title">我的店铺</span>
      <span><img class="arrow" src="./imgs/arrow-right2.png"></span>
    </div>
    <div class="padding-l-default font-size-12">
      <div class="padding-r-default padding-v-12 section-title border-bottom-default" routerLink="./my-store/publish">
        <span class="font-color-title">商品上新</span>
        <span><img class="arrow" src="./imgs/arrow-right2.png" routerLink="./my-store/10001/edit-product"></span>
      </div>
      <div class="padding-r-default padding-v-12 section-title">
        <span class="font-color-title">店铺管理</span>
        <span><img class="arrow" src="./imgs/arrow-right2.png"></span>
      </div>
    </div>
  </div>
</section>
<section class="margin-top-10">
  <div class="padding-l-default  bg-lightest">
    <div class="padding-r-default padding-v-12 section-title border-bottom-default" routerLink="/mine/orders/0">
      <span class="font-color-title">我的订单</span>
      <span><img class="arrow" src="./imgs/arrow-right2.png"></span>
    </div>
    <div class="padding-l-default font-size-12">
      <div class="padding-r-default padding-v-12 section-title border-bottom-default" routerLink="/mine/orders/1">
        <span class="font-color-title">待付款</span>
        <span><img class="arrow" src="./imgs/arrow-right2.png"></span>
      </div>
      <div class="padding-r-default padding-v-12 section-title border-bottom-default" routerLink="/mine/orders/2">
        <span class="font-color-title">待评价</span>
        <span><img class="arrow" src="./imgs/arrow-right2.png"></span>
      </div>
      <div class="padding-r-default padding-v-12 section-title" routerLink="/mine/orders/4">
        <span class="font-color-title">已完成</span>
        <span><img class="arrow" src="./imgs/arrow-right2.png"></span>
      </div>
    </div>
  </div>
</section>
<main-menu></main-menu>
