<div class="store-head padding-h-default border-bottom-default">
  <img class="logo pull-left" src="./imgs/default-avatar.png">
  <div class="font-color-title">
    <div >{{storeInfo.store_name}}</div>
    <div class="margin-top-5 font-size-12"><span class="label">品牌店</span></div>
  </div>
</div>
<ul class="list padding-h-default padding-v-16">
  <li *ngFor="let product of storeInfo.products" routerLink="../../detail/{{product.id}}">
    <img src="{{product.product_logo}}">
    <div class="introduction  padding-v-5">{{product.product_name}}</div>
    <div class="price text-left padding-v-5"><span class="font-size-12">¥</span><span class="price font-size-14">{{product.current_price}}</span><del class="font-color-content">¥{{product.origin_price}}</del></div>
  </li>
</ul>
