<div class="head  bg-lightest">
  <div class="img-container"><img src="./imgs/icon-decoration.png"></div>
  <div class="font-color-content text-container">
    <div>装修攻略</div>
    <div class="margin-top-10 font-size-12">内容数：18</div>
  </div>
</div>
<ul class="strategy-list border-top-default">
  <li class="item bg-lightest padding-v-12 padding-h-default">
    <div class="title">木地板“破相”了，教你神奇一招来修复</div>
    <div class="font-color-content margin-top-15 font-size-12 bottom"><img class="view" src="./imgs/icon-view.png">186
    </div>
  </li>
  <li class="item bg-lightest padding-v-12 padding-h-default">
    <div class="title has-img">
      <div class="title-text">
        美式家具这么火，该如何选购？
      </div>
      <div class="img-container">
        <img src="./imgs/strategy-list01.jpg">
      </div>
    </div>
    <div class="font-color-content margin-top-15 font-size-12 bottom "><img class="view" src="./imgs/icon-view.png">186
    </div>
  </li>
</ul>
<main-menu></main-menu>
