<div class="padding-h-default margin-top-30 font-color-title">第三步：资料上传</div>
<div class="margin-top-30 padding-h-default">
  <div class="text-center">
    <div class="font-size-14 padding-v-8 font-color-title">身份证正面照</div>
    <file-upload (uploadImg)="getUploadImgInfo($event,'front')"></file-upload>
  </div>
</div>
<div class="margin-top-30 padding-h-default margin-bottom-60">
  <div class="text-center">
    <div class="font-size-14 padding-v-8 font-color-title">身份证反面照</div>
    <file-upload (uploadImg)="getUploadImgInfo($event,'back')"></file-upload>
  </div>
</div>
<div class="fixed-bottom">
  <div class="btn-flat-default" (click)="finish()">完成</div>
</div>
