<div class=" text-center order-info padding-h-default">
  <div class="font-color-title">订单号：001239123333</div>
  <div class="margin-top-15 font-size-16"><span class="font-color-content font-size-12">实付金额：</span><span class="font-color-orange  pay-money">8864.00元</span></div>
</div>
<div class="padding-h-default text-center margin-top-30">
  <div class="btn-radius btn-border-blue pay-way"><img class="pull-left check" src="./imgs/icon-checked.png">微信支付</div>
</div>
<div class="fixed-bottom btn-flat-default">
  立即支付
</div>
