<div class="margin-bottom-44">
  <slider
    [imgSrcArr]="['./imgs/eg-mall01.jpg']"></slider>
  <div class="goods-container">
    <div class="goods">
      <div class="padding-v-12 padding-h-default border-bottom-default">
        <div class="goods-header">灯饰照明<img class="arrow" src="./imgs/arrow-right.png" routerLink="./list"
                                           [queryParams]="{catCode:10001}">
        </div>
      </div>
      <ul class="goods-thumb padding-h-default">
        <li><img src="./imgs/light01.jpg"></li>
        <li><img src="./imgs/light02.jpg"></li>
        <li><img src="./imgs/light03.jpg"></li>
        <li><img src="./imgs/light04.jpg"></li>
      </ul>
    </div>
    <div class="goods  margin-top-15">
      <div class="padding-v-12 padding-h-default border-bottom-default">
        <div class="goods-header">建材五金<span><img class="arrow" src="./imgs/arrow-right.png"
                                                 routerLink="./list" [queryParams]="{catCode:10004}"></span></div>
      </div>
      <ul class="goods-thumb padding-h-default">
        <li><img src="./imgs/hardware01.jpg"></li>
        <li><img src="./imgs/hardware02.jpg"></li>
        <li><img src="./imgs/hardware03.jpg"></li>
        <li><img src="./imgs/hardware04.jpg"></li>
      </ul>
    </div>
    <div class="text-center font-color-content font-size-12 margin-top-15">敬请期待</div>
  </div>
</div>
<main-menu></main-menu>
