<div class="select-address padding-v-12 padding-h-default">
  <img src="./imgs/location.png" height="30">
  <div  style="width: 100%;">
    <div><span>收件人：张三</span><span class="pull-right">18683367777</span></div>
    <div class="margin-top-5 font-size-12">
      <img class="pull-right" src="./imgs/arrow-right2.png" width="15"><div>收货地址：四川省成都市金牛区两河西三路129号</div>
    </div>
  </div>
</div>
<div class="margin-top-10 product">
  <div class="store padding-h-default padding-v-12">神州建材</div>
  <div class="product-info padding-h-default padding-v-12">
    <img src="./imgs/eg-stores.jpg" width="30%">
  </div>

</div>
<div class="bg-lightest">
  <div class="padding-h-default padding-v-12 border-bottom-default"><span>购买数量</span></div>
  <div class="padding-h-default padding-v-12 border-bottom-default"><span>售后服务</span></div>
  <div class="padding-h-default padding-v-12 border-bottom-default"><span>配送方式</span></div>
</div>
