<div class="detail-img">
  <img src="./imgs/light-detail-1-2.jpg">
</div>
<div class="text-info bg-lightest padding-h-default">
  <div class="good-title padding-v-12">
    月影凯顿现代乡村壁灯全铜客厅灯具布艺卧室床头灯玄关灯过道灯饰
  </div>
  <div>
    <div class="good-price font-size-12">¥<span class="font-size-16">89</span></div>
    <div class="font-size-12 margin-top-10 font-color-content">价格：¥<del>200.65</del></div>
  </div>
</div>
<div class="margin-top-15"></div>

<div class="fixed-bottom">
  <div class="btn-flat-default">立即购买</div>
</div>
