<div class="margin-bottom-44">
  <div class="detail-img">
    <img src="./imgs/light-detail-1-2.jpg">
  </div>
  <div class="text-info bg-lightest padding-h-default">
    <div class="good-title padding-v-12">
      月影凯顿现代乡村壁灯全铜客厅灯具布艺卧室床头灯玄关灯过道灯饰
    </div>
    <div>
      <div class="good-price font-size-12">¥<span class="font-size-16">89</span></div>
      <div class="font-size-12 margin-top-10 font-color-content">价格：¥
        <del>200.65</del>
      </div>
    </div>
  </div>
  <div class="margin-top-15 bg-lightest padding-v-12 padding-h-default">
    <div class="font-size-16">月影凯顿
      <div class="font-color-content margin-top-5 font-size-12 locate pull-right"><img class="locate-img"
                                                                                       src="./imgs/icon-locate.png"><span>700m</span>
      </div>
    </div>
    <div class="font-color-content margin-top-5 font-size-12">地址:四川省成都市郫县西区大道455号</div>

    <div class="padding-h-default margin-top-5 text-center">
      <div class="to-store" routerLink="../stores">进入店铺</div>
    </div>
  </div>
  <div class="padding-h-default  margin-top-15 padding-v-12 bg-lightest ">
    <div><span>数量</span>
      <div class="pull-right amount"><img src="./imgs/reduce.png"><span class="padding-h-10">1</span><img src="./imgs/add.png"></div>
    </div>
  </div>
  <div class="  margin-top-15  bg-lightest display-imgs">
    <div class="padding-v-12 padding-h-default"><span>产品详情</span></div>
    <div><img src="./imgs/detail-display01.jpg"></div>
    <div><img src="./imgs/detail-display02.jpg"></div>
    <div><img src="./imgs/detail-display03.jpg"></div>
    <div><img src="./imgs/detail-display04.jpg"></div>
  </div>
</div>
<div class="fixed-bottom">
  <div class="btn-flat-default" routerLink="">立即购买</div>
</div>
