.header{
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: .42rem;
  img{
    &:nth-child(1){
      height: .24rem;
    }
    &:nth-child(2){
      height: .24rem;
    }
    &:nth-child(3){
      height: .24rem;
    }
  }
}
