<div class="order-status font-size-12 border-bottom-default">
  <ul>
    <li routerLinkActive="active" routerLink="/mine/orders/0">全部</li>
    <li routerLinkActive="active" routerLink="/mine/orders/1">待付款</li>
    <li routerLinkActive="active" routerLink="/mine/orders/2">待发货</li>
    <li routerLinkActive="active" routerLink="/mine/orders/4">待评价</li>
  </ul>
</div>
<ul class="order-list">
  <li *ngFor="let order of orders">
    <div class="store-name font-color-title font-size-12 padding-h-default padding-v-12" routerLink="/mall/store/{{order.store_code}}">{{order.store_name}} <img src="./imgs/arrow-right2.png"></div>
    <div class="product-info padding-h-default padding-v-8" routerLink="/mall/detail/{{order.product_id}}">
      <img src="{{order.product_logo}}">
      <div>
        <span class="font-color-title font-size-14">{{order.order_name}}</span>
        <div class="purchase-info margin-top-20 font-color-content">
          ¥{{order.price}}  <span class="pull-right">x{{order.amount}}</span>
        </div>
      </div>
    </div>
    <div class="padding-v-12 text-right padding-h-default ">
      <span class="info-space">共<span class="font-color-orange">{{order.amount}}</span>件商品</span><span>合计：</span><span class="font-size-12">¥ </span><span class="font-color-orange">{{order.price}}</span>
    </div>
  </li>
</ul>
