.order-status{
  background-color: #fff;
  float: left;
  width: 100%;
  li{
    float: left;
    text-align: center;
    width: 25%;
    padding: .12rem;
  }
  li.active{
    color: #DD2727;
  }
}
.order-list{
  padding-top: .41rem;
  li{
    background-color: #fff;
    margin-bottom: .1rem;
  }
  .product-info{
    height: 1.16rem;
    background-color: #f4f4f4;
    position: relative;
    img{
      float: left;
      width: 1rem;
      height: 1rem;
      margin-right: .1rem;
    }
    .purchase-info{
      position: absolute;
      bottom: .08rem;
      left:1.25rem;
      width: 2.35rem;
    }
  }
  .info-space{
    margin-right: .1rem;
  }
}
.store-name{
  display: flex;
  align-items: center;
  img{
    margin-left: .1rem;
    height: .13rem;
  }
}
