<div class="order-status font-size-12 border-bottom-default">
  <ul>
    <li routerLinkActive="active" routerLink="/mine/orders/0">全部</li>
    <li routerLinkActive="active" routerLink="/mine/orders/1">待付款</li>
    <li routerLinkActive="active" routerLink="/mine/orders/2">待发货</li>
    <li routerLinkActive="active" routerLink="/mine/orders/4">待评价</li>
  </ul>
</div>
<ul class="order-list">
  <li>
    <div class="store-name font-color-title font-size-12 padding-h-default padding-v-12">某某旗舰店</div>
    <div class="product-info padding-h-default padding-v-8">
      <img src="./imgs/light01.jpg">
      <div>
        <span class="product-name">xxxxxxxxx灯泡特别亮的那种</span>
        <div class="purchase-info margin-top-20 font-color-content">
          ¥1999.00  <span class="pull-right">x1</span>
        </div>
      </div>
    </div>
    <div class="padding-v-12 text-right padding-h-default ">
      <span class="info-space">共1件商品</span><span>合计：</span><span class="font-size-12">¥</span><span class="font-color-orange">99.90</span>
    </div>
  </li>
  <li>
    <div class="store-name font-color-title font-size-12 padding-h-default padding-v-12">某某旗舰店</div>
    <div class="product-info padding-h-default padding-v-8">
      <img src="./imgs/light01.jpg">
      <div>
        <span class="product-name">xxxxxxxxx灯泡特别亮的那种</span>
        <div class="purchase-info margin-top-20 font-color-content">
          ¥1999.00  <span class="pull-right">x1</span>
        </div>
      </div>
    </div>
    <div class="padding-v-12 text-right padding-h-default ">
      <span class="info-space">共1件商品</span><span>合计：</span><span class="font-size-12">¥</span><span>99.90</span>
    </div>
  </li>
</ul>
