<div class="bg-lightest padding-h-default padding-v-16 border-bottom-default store-head">
  <div class="pull-left">
    <img class="avatar" src="./imgs/default-avatar.png" width="64">
  </div>
  <div class="text-info">
      <div class="font-color-title name">{{storeInfo.store_name}}</div>
      <div class="font-color-content font-size-12 profile">简介：百年传承，匠心制造</div>
  </div>
</div>
<div>
  <ul class="list padding-h-default padding-v-16 " [class.hidden]="productList.length==0">
    <li *ngFor="let product of productList" routerLink="../detail/{{product.id}}">
      <img src="{{product.product_logo}}">
      <div class="introduction  padding-v-5">{{product.product_name}}</div>
      <div class="price text-left padding-v-5"><span class="font-size-12">¥</span><span class="price font-size-14">{{product.current_price}}</span>
        <del class="font-color-content">¥{{product.origin_price}}</del>
      </div>
    </li>
  </ul>
  <div *ngIf="productList.length==0&&hasGot" class="text-center margin-top-90  font-color-content font-size-12">
    <img src="./imgs/no-data.png">
    <div class="margin-top-15">您暂时还没有相关的产品哟</div>
  </div>
</div>
