<form #productForm="ngForm" novalidate>
  <div class="bg-lightest padding-v-12 padding-h-default col-xs-12">
    <span class="col-xs-3">产品名称：</span>
    <label class="col-xs-9">
      <input type="text" name="productName" ngModel required/></label>
  </div>
  <div class="bg-lightest padding-v-12 padding-h-default col-xs-12 margin-top-10">
    <span class="col-xs-3">产品简介：</span>
    <label class="col-xs-9">
      <textarea placeholder="至少十二个字符" class="padding-h-5" name="productIntro" ngModel required minlength="12"></textarea></label>
  </div>
  <div class="bg-lightest padding-v-12 padding-h-default col-xs-12 margin-top-10">
    <span class="col-xs-3">原&emsp;&emsp;价：</span>
    <label class="col-xs-9">
      <input type="text" name="originPrice" ngModel required/></label>
  </div>
  <div class="bg-lightest padding-v-12 padding-h-default col-xs-12 margin-top-10">
    <span class="col-xs-3">活&ensp;动&ensp;价：</span>
    <label class="col-xs-9">
      <input type="text" name="currentPrice" ngModel required/></label>
  </div>
  <div class="bg-lightest padding-v-12 padding-h-default col-xs-12 margin-top-10">
    <span class="col-xs-3">类&emsp;&emsp;别：</span>
    <label class="col-xs-9 custom-select" for="category">
      <span>{{selectedCategory|productCategory}}</span>
      <img class="pull-right" src="./imgs/select.png" width="20">
      <select id="category" name="category" [(ngModel)]="selectedCategory">
        <option [value]="10001">灯饰照明</option>
      </select>
    </label>
  </div>
  <div class="bg-lightest padding-v-12 padding-h-default col-xs-12 margin-top-10 text-center">
    <span class="col-xs-12">产品头像（必传）</span>
    <div class="col-xs-12  padding-v-12">
      <div>
        <file-upload (uploadImg)="getUploadImgInfo($event,'logo')"></file-upload>
      </div>
    </div>
  </div>
  <div class="bg-lightest padding-v-12 padding-h-default col-xs-12 margin-top-10 text-center margin-bottom-44">
    <span class="col-xs-12">产品详情（至少3张，最多6张）</span>
    <div class="col-xs-12 padding-v-12">
      <div>
        <file-upload (uploadImg)="getUploadImgInfo($event,'detail')"></file-upload>
      </div>
      <div class="margin-top-15">
        <file-upload (uploadImg)="getUploadImgInfo($event,'detail')"></file-upload>
      </div>
      <div class="margin-top-15">
        <file-upload (uploadImg)="getUploadImgInfo($event,'detail')"></file-upload>
      </div>
      <div class="margin-top-15">
        <file-upload (uploadImg)="getUploadImgInfo($event,'detail')"></file-upload>
      </div>
      <div class="margin-top-15">
        <file-upload (uploadImg)="getUploadImgInfo($event,'detail')"></file-upload>
      </div>
      <div class="margin-top-15">
        <file-upload (uploadImg)="getUploadImgInfo($event,'detail')"></file-upload>
      </div>
    </div>
  </div>
</form>
<div class="col-xs-12 fixed-bottom">
  <div class="btn-flat-default" (click)="confirm(productForm)">确定</div>
</div>
