<div class="">
  <div class="bg-lightest padding-v-12 padding-h-default col-xs-12">
    <span class="col-xs-3">产品名称：</span>
    <label class="col-xs-9">
      <input class="text-right " type="text"/></label>
  </div>
  <div class="bg-lightest padding-v-12 padding-h-default col-xs-12 margin-top-10">
    <span class="col-xs-3">原价：</span>
    <label class="col-xs-9">
      <input class="text-right" type="text"/></label>
  </div>
  <div class="bg-lightest padding-v-12 padding-h-default col-xs-12 margin-top-10">
    <span class="col-xs-3">活动价：</span>
    <label class="col-xs-9">
      <input class="text-right" type="text"/></label>
  </div>
  <div class="bg-lightest padding-v-12 padding-h-default col-xs-12 margin-top-10">
    <span class="col-xs-3">类别：</span>
    <label class="col-xs-9 custom-select">
     <select>
       <option value="10001">灯饰照明</option>
     </select></label>
  </div>
</div>
