<div class="index">
  <div class="header padding-h-default">
    <span class="title"><img src="./imgs/title.png"></span>
    <div class="search-container"><img class="search" src="./imgs/icon-search.png">商品搜索，共3000款好物</div>
  </div>
  <slider></slider>
  <div class=" text-center bg-lightest padding-v-8 ensure">
    <div class=" "><img src="./imgs/icon-check-red.png">大牌入住</div>
    <div class=""><img src="./imgs/icon-check-red.png">厂家直供</div>
    <div class=""><img src="./imgs/icon-check-red.png">品质保证</div>
  </div>
  <div class="main-content bg-lightest margin-top-15 padding-h-default">
    <div class="text-center padding-v-16 title"><span class="">上千家建材品牌</span><img src="./imgs/arrow-right.png"
                                                                            style="height: .16rem;margin-left:.05rem;">
    </div>
    <div>
      <div class="item" routerLink="../mall">
        <img src="./imgs/left-content.jpg">
        <div class="item-text">
          <div>多类建材</div>
          <div class="font-color-content">品牌制造商直供</div>
        </div>
      </div>
      <div class="item" routerLink="../manual">
        <img src="./imgs/right-content01.png">
        <div class="item-text">
          <div>找装修</div>
          <div class="font-color-content">
            贴心
          </div>
        </div>
      </div>
      <div class="item" routerLink="../strategy">
        <img src="./imgs/right-content02.png">
        <div class="item-text">
          经验
        </div>
      </div>

    </div>
  </div>
</div>
<main-menu></main-menu>
