img {
  max-width: 100%;
  width: 3.75rem;
}

.slider-container {
  width: 100%;
  height: 2.09rem;
  position: relative;
  overflow: hidden;
  .slider-item {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    -webkit-transition: transform 0.3s ease-in;
    -moz-transition: transform 0.3s ease-in;
    -ms-transition: transform 0.3s ease-in;
    -o-transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
  }
  .slider-item-active {
    display: block;
    -webkit-transform: translateX(0);
    -moz-transform:translateX(0);
    -ms-transform: translateX(0);
    -o-transform:translateX(0);
    transform: translateX(0);
  }
  .next {
    display: block;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  .prev {
    display: block;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .left.next, .prev.right {
    display: block;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform:translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
