<div class="header padding-h-default padding-v-6 text-center ">
  <mall-category (onSelect)="getListByCode($event)"><img src="./imgs/category.png"></mall-category>
  <img src="./imgs/title.png" routerLink="/">
  <img src="./imgs/icon-search.png" routerLink="/mall/mall-search">
</div>
<ul class="list padding-h-default padding-v-16 border-top-default" [class.hidden]="productList.length==0">
  <li *ngFor="let product of productList" routerLink="../detail/{{product.id}}">
    <img src="{{product.product_logo}}">
    <div class="introduction  padding-v-5">{{product.product_name}}</div>
    <div class="price text-left padding-v-5"><span class="font-size-12">¥</span><span class="price font-size-14">{{product.current_price}}</span>
      <del class="font-color-content">¥{{product.origin_price}}</del>
    </div>
  </li>
</ul>
<div *ngIf="productList.length==0&&hasGot" class="text-center margin-top-90  font-color-content font-size-12">
  <img src="./imgs/no-data.png">
  <div class="margin-top-15">暂时没有相关的产品哦</div>
</div>
